<div class="bgc"
  [ngStyle]="{'background':'url(./assets/login.webp)','background-repeat' : 'no-repeat','height':'100vh'}">

  <form class="form1" style="margin-top: 0px;" (ngSubmit)="login()" [formGroup]="loginForm">
    <div class="con">
      <h2>Sign In</h2>
    </div>
    <label>Username</label><br><br>
    <mat-form-field class="main">
      <input matInput id="username" formControlName="username" placeholder="Username">
      <mat-error class="val" *ngIf="loginForm.get('username')?.hasError('required')">Username is required.</mat-error>
    </mat-form-field><br>
    <label>Password</label><br><br>
    <mat-form-field class="main">
      <input matInput type="password" id="password" formControlName="password" placeholder="Password"><br>
      <mat-error class="val" *ngIf="loginForm.get('password')?.hasError('required')">Password is required.</mat-error>
    </mat-form-field><br><br>
    <button mat-raised-button color="primary" type="submit" style="margin-left: 10px;">Sign In</button>
    <span style="margin-left: 10px; font-size: 20px;">Don't Have Account?</span>
    <button routerLink="/signup" mat-raised-button color="primary" style="margin-left: 10px;">Sign Up</button>
  </form>

</div>