<form class="form1" (ngSubmit)="addpoll()" [formGroup]="addpollForm">
  <button type="button" class="btn-close" (click)="closepopup()" style="margin-left: 450px;"></button>
  <h1>Add new poll</h1>
  <label>Title</label>
  <mat-form-field class="main">
    <input matInput formControlName="title" placeholder="Title">
    <mat-error class="val" *ngIf="addpollForm.get('title')?.hasError('required')">Title is required.</mat-error>
  </mat-form-field>
  <label>Option 1</label>
  <mat-form-field class="main">
    <input matInput #task name="text" formControlName="opt_1" placeholder="Option one">
    <mat-error class="val" *ngIf="addpollForm.get('opt_1')?.hasError('required')">Option is
      required.</mat-error>
  </mat-form-field>
  <label>Option 2</label>
  <mat-form-field class="main">
    <input matInput #task name="text" formControlName="opt_2" placeholder="Option two">
    <mat-error class="val" *ngIf="addpollForm.get('opt_2')?.hasError('required')">Option is
      required.</mat-error>
  </mat-form-field>
  <label>Option 3</label>
  <mat-form-field class="main">
    <input matInput #task name="text" formControlName="opt_3" placeholder="Option three">
    <mat-error class="val" *ngIf="addpollForm.get('opt_3')?.hasError('required')">Option is
      required.</mat-error>
  </mat-form-field>
  <label>Option 4</label>
  <mat-form-field class="main">
    <input matInput #task name="text" formControlName="opt_4" placeholder="Option four">
    <mat-error class="val" *ngIf="addpollForm.get('opt_4')?.hasError('required')">Option is
      required.</mat-error>
  </mat-form-field>
  <button mat-raised-button color="primary" type="submit">Add Poll</button>
</form>